// HELPERS
@import './helpers/variables';
@import './helpers/mixins';

// BASE
@import './base/reset';

// COMPONENTS



// LAYOUTS
@import './layouts/login';
@import './layouts/cart';
@import './layouts/profile';








html,
body {
    font-size: 15px;
}

a {
    text-decoration: none;
    transition: all .5s;

    :hover {
        text-decoration: none;
        color: inherit !important;
    }
}